@import url("./base.css");

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/solar-flare.jpeg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: repeat;
  /* background-size: cover; */
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__heading {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

  font-size: 180px;
  color: yellow;

  margin-bottom: 60px;
}

.hero__subheading {
  font-size: 60px;
  color: yellow;
  margin-bottom: 30px;
  vertical-align: middle;
}

@media (width < 1150px) {
  .hero__heading {
    font-size: 120px;
  }

  .hero__subheading {
    font-size: 40px;
  }
}

@media (width < 770px) {
  .hero__heading {
    font-size: 80px;
  }

  .hero__subheading {
    font-size: 26px;
  }
}
