@import url("./base.css");

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/solar-garlic-hero.png");

  /* Set a specific height */
  height: 90vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__heading {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

  font-size: 128px;

  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: yellow;
}

.hero__audio {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
