@import url("./base.css");

.hero {
  background-image: linear-gradient(
      rgba(109, 29, 201, 0.4),
      rgba(109, 29, 201, 0.3)
    ),
    url("../images/solar-flare.jpeg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: repeat;
  /* background-size: cover; */
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__heading {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

  font-size: 180px;
  color: yellow;

  margin-bottom: 60px;
}

.hero__subheading {
  font-size: 60px;
  color: yellow;
  margin-bottom: 30px;
  vertical-align: middle;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-fast {
  animation: fadeIn 300ms;
}

.fade-in-slow {
  animation: fadeIn 2s;
}

@media (width < 1150px) {
  .hero__heading {
    font-size: 120px;
  }

  .hero__subheading {
    font-size: 40px;
  }
}

@media (width < 770px) {
  .hero__heading {
    font-size: 80px;
  }

  .hero__subheading {
    font-size: 26px;
  }
}

section {
  padding: 0 60px;
}

.section__heading {
  font-size: 32px;
}

.section__subheading {
  font-size: 26px;
}

.recordings__image {
  max-width: 700px;
  min-width: auto;
  max-height: auto;

  border-radius: 10px;
}

.track {
  display: flex;
}

.track__title {
  font-size: 26px;
  font-weight: bold;
}

.track__title {
  font-size: 22px;
}

.audio {
  width: 400px;
  height: 100px;
  display: flex;

  border-radius: 10px;

  background-color: rgba(238, 59, 163, 0.6);
}

.audio__controls {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.audio__controls .button {
  width: 80px;
  height: 40px;

  border-radius: 10px;
}

.audio__controls .button.button--play,
.audio__controls .button.button--pause {
  height: 80px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.audio__controls .button.button--volume-up {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
