<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <!-- LOAD FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@400..900&display=swap"
        rel="stylesheet">
    <!-- END LOAD FONTS -->

    <!-- LOAD CSS -->
    <link rel="stylesheet" href="assets/styles/index.css" />
    <!-- END LOAD CSS -->
</head>

<body>
    <div class="grid">
        <header class="hero grid-item">
            <h1 class="font-display">Title</h1>
        </header>
        <section class="sidebar grid-item">
            <div class="sidebar-item social"><img src="assets/icons/facebook-icon.svg" alt="facebook" height="50"
                    width="50"></div>
            <div class="sidebar-item social"><img src="assets/icons/instagram-icon.svg" alt="facebook" height="50"
                    width="50"></div>
            <div class="sidebar-item sidetext">Logo</div>
        </section>
        <nav class="navbar grid-item">
            <ul class="navbar-link-list font-display">
                <li class="navbar-link">Home</li>
                <li class="navbar-link">Shows</li>
                <li class="navbar-link">Bio</li>
                <li class="navbar-link">Music</li>
                <li class="navbar-link">Gallery</li>
                <li class="navbar-link">Contact</li>
            </ul>
        </nav>
        <section class="content grid-item">
            <h1 class="font-display">Content</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur quasi? Cumque, quae quibusdam?
                Alias quae natus fugiat praesentium voluptatum, magni minima aspernatur sint dolor itaque error aliquam
                dolorum recusandae?</p>

        </section>
        <footer class="footer grid-item">Footer</footer>
    </div>
</body>


<script src="assets/scripts/index.js"></script>

</html>