name: Lint Workflow

on: [push]


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - name: Node Install
        run: npm ci
      - name: Check formatting
        run: npm run fmt:check
      - name: Lint
        run: npm run lint
  check_build:
    # meant to check that build succeeds on pr branches
    runs-on: ubuntu-latest
    needs: lint
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Checkout  
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
            node-version: '18.x'
      - name: Node Install
        run: npm ci
      - name: Build
        run: npm run build
  build:
    # creates the dockerized production build on the main branch
    runs-on: ubuntu-latest
    needs: lint
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1
      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: solargarlicband/website
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
      - name: Log out of Amazon ECR
        if: always()
        run: docker logout ${{ steps.login-ecr.outputs.registry }}
      - name: Deploy
        env:
          PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          HOSTNAME: ${{secrets.SSH_HOST}}
          USER_NAME: ${{secrets.USER_NAME}}
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: solargarlicband/website
          IMAGE_TAG: ${{ github.sha }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key

          # script to execute on the ec2 instance
          read -r -d '' SCRIPT << EOM
          
          cd /home/${USER_NAME}
          ./scripts/docker_login.sh
          ./scripts/docker_pull.sh ${IMAGE_TAG}
          docker container rm -f nextjs
          docker run --rm -d --name nextjs --network solar-garlic-band ${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG}

          EOM

          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${SSH_HOST} "${SCRIPT}"
